# Production dependencies
altair
pandas
PyYAML
streamlit

# Development dependencies
-e ../asf_levies_model  # <-- Local, editable version of the backend
-e .                    # <-- The frontend app itself
